<div class="album-block">
    
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="my-img"><img src="assets/images/img-me-1.jpg" width="200px"></div>
            <div class="my-details">
                My name is Minar Maiti. I am from West Bengal, India. I am a solo traveller. I love to travel a lot. 
                I always wanted to share the memories I have collected from my verious. So I created this website yo share
                the photos I have collected from different places.
                <br><br>
                <b>Thank You for visiting.</b>
            </div>
        </div>
    </div>
</div>
