.top-bannar {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image:  url("../../assets/images/img-1.jpg");
    border-bottom: 1px solid rgba(61, 61, 61, 0.5);
}

.cover {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    /* position: relative; */
    display: flex;
    flex-direction: column;
}



.details {
    margin: auto;
    color: #fafafa;
    font-family: 'Patrick Hand';
    text-align: center;
    max-width: 40em;
    padding: 10em 1.5em 5em;
}

.detail-head {
    font-size: 2em;
}

.detail-body {
    font-size: 1em;
    margin-top: .5em;
    color: #acacac;
}

.adjust-header {
    height: 7.5em;
}

.button {
    width: fit-content;
    border: 3px solid #ebb38b;
    padding: .2em 2em;
    font-size: 1.2em;
    margin: 1.2em .3em .3em;
    color: #e49504;
    cursor: pointer;
    background: rgba(247, 235, 187, 0.2);
    display: inline-block;
}

.button:hover{
    border: 3px solid #ffe7d6;
    color: #fff0df;
    background: rgba(255, 72, 0, 0.85);
}


.body-items {
    padding: 0px 15px 30px;
    /* display: flex; */
}

.headerspace {
    height: 6em;
}





